<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>亲爱的<%= @user.name %>, 您好！</h5>
    <p>
      请您点击下面的链接验证您的邮件地址：
   
    </p>
    <p>
      <%= @url %>

    </p>
    <p>Have a great day!</p>
  </body>
</html>


