<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>欢迎来到 BuaaClubs, <%= @user.name %></h5>
    <p>
      您已经成功注册 BuaaClubs.com,
      您可以使用您的学号: <%= @user.stu_num %> 进行登录.<br>
    </p>
    <p>
      请点击链接验证您的Email并开始您的buaaclub之旅吧~	<%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


